.bg-Arrow0 {
    width: 50px; height: 50px;
    background: url('../images/css_sprites.png') -10px -80px;
}


.bg-Arrow1 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -938px;
}


.bg-Arrow2 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -650px;
}


.bg-Arrow3 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -2404px;
}


.bg-Arrow4 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -1516px;
}


.bg-Arrow5 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3158px;
}


.bg-Arrow6 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -2930px;
}


.bg-Arrow7 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3918px;
}


.bg-Arrow8 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5698px;
}


.bg-Arrow9 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5776px;
}


.bg-Arrow10 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5854px;
}


.bg-Arrow11 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6722px;
}


.bg-Arrow12 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7762px;
}


.bg-Arrow13 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7842px;
}


.bg-Arrow14 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9636px;
}


.bg-Arrow23 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13688px;
}


.bg-Arrow21 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14204px;
}


.bg-Arrow22 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14290px;
}


.bg-Arrow24 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18146px;
}


.bg-Arrow25 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15946px;
}


.bg-Arrow26 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15858px;
}


.bg-Arrow27 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15154px;
}


.bg-Arrow28 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15682px;
}


.bg-Arrow29 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15770px;
}


.bg-Arrow30 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23972px;
}


.bg-Arrow31 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23882px;
}


.bg-Arrow32 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23792px;
}


.bg-Arrow33 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23702px;
}


.bg-Arrow34 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23612px;
}


.bg-Arrow35 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23522px;
}


.bg-Arrow37 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29578px;
}


.bg-Arrow36 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20372px;
}


.bg-Arrow38 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29118px;
}


.bg-Arrow39 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27738px;
}


.bg-Arrow40 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27646px;
}


.bg-Arrow41 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27554px;
}


.bg-Arrow42 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27462px;
}


.bg-Arrow43 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27370px;
}


.bg-Arrow45 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27278px;
}


.bg-Arrow44 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27186px;
}


.bg-Arrow46 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25530px;
}


.bg-Arrow47 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25438px;
}


.bg-Arrow15 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8406px;
}


.bg-Arrow16 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8488px;
}


.bg-Arrow17 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11302px;
}


.bg-Arrow20 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13516px;
}


.bg-Arrow18 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11218px;
}


.bg-Arrow19 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11134px;
}


.bg-Arrow48 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24518px;
}


.bg-Arrow49 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24426px;
}


.bg-Arrow50 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24334px;
}


.bg-Arrow51 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25346px;
}


.bg-Arrow52 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29302px;
}


.bg-Arrow53 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29394px;
}


.bg-Arrow54 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20462px;
}


.bg-Arrow55 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20552px;
}


.bg-Arrow56 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20642px;
}


.bg-Arrow57 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20732px;
}


.bg-Arrow58 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20822px;
}


.bg-Arrow59 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20912px;
}


.bg-Arrow60 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21002px;
}


.bg-Arrow61 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17530px;
}


.bg-Arrow62 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17442px;
}


.bg-Arrow63 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17354px;
}


.bg-Arrow64 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17266px;
}


.bg-Arrow65 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17178px;
}


.bg-Arrow66 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17090px;
}


.bg-Arrow67 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13258px;
}


.bg-Arrow68 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13344px;
}


.bg-Arrow69 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13774px;
}


.bg-Arrow70 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13860px;
}


.bg-Arrow71 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10882px;
}


.bg-Arrow72 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10798px;
}


.bg-Arrow73 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10714px;
}


.bg-Arrow74 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8652px;
}


.bg-Arrow75 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8242px;
}


.bg-Arrow76 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -10046px;
}


.bg-Arrow77 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -8162px;
}


.bg-Arrow78 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7282px;
}


.bg-Arrow79 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6402px;
}


.bg-Arrow80 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -6010px;
}


.bg-Arrow81 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -6088px;
}


.bg-Arrow82 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -6166px;
}


.bg-Arrow83 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3310px;
}


.bg-Arrow84 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -4298px;
}


.bg-Arrow85 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -4222px;
}


.bg-Arrow86 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -2552px;
}


.bg-Arrow87 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -2478px;
}


.bg-Arrow88 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -1370px;
}


.bg-Arrow89 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -1298px;
}


.bg-Arrow90 {
    width: 50px; height: 50px;
    background: url('../images/css_sprites.png') -10px -220px;
}


.bg-Arrow91 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -1226px;
}


.bg-Arrow92 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -1154px;
}


.bg-Arrow93 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -2330px;
}


.bg-Arrow94 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -2256px;
}


.bg-Arrow95 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3766px;
}


.bg-Arrow96 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3690px;
}


.bg-Arrow97 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3614px;
}


.bg-Arrow98 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5152px;
}


.bg-Arrow99 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5074px;
}


.bg-Arrow100 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -4996px;
}


.bg-Arrow101 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6802px;
}


.bg-Arrow102 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6882px;
}


.bg-Arrow103 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6962px;
}


.bg-Arrow104 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9144px;
}


.bg-Arrow105 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9472px;
}


.bg-Arrow106 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9554px;
}


.bg-Arrow107 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10210px;
}


.bg-Arrow108 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -12058px;
}


.bg-Arrow109 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -12142px;
}


.bg-Arrow110 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13602px;
}


.bg-Arrow111 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12312px;
}


.bg-Arrow112 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12398px;
}


.bg-Arrow113 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12484px;
}


.bg-Arrow114 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18234px;
}


.bg-Arrow115 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18322px;
}


.bg-Arrow116 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18410px;
}


.bg-Arrow117 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15418px;
}


.bg-Arrow118 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15506px;
}


.bg-Arrow119 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15594px;
}


.bg-Arrow120 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -24152px;
}


.bg-Arrow121 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -24062px;
}


.bg-Arrow122 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23432px;
}


.bg-Arrow123 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23342px;
}


.bg-Arrow124 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23252px;
}


.bg-Arrow125 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23162px;
}


.bg-Arrow126 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -23072px;
}


.bg-Arrow127 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29026px;
}


.bg-Arrow128 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28934px;
}


.bg-Arrow129 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28842px;
}


.bg-Arrow130 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28750px;
}


.bg-Arrow131 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28658px;
}


.bg-Arrow132 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28566px;
}


.bg-Arrow133 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28474px;
}


.bg-Arrow134 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28382px;
}


.bg-Arrow135 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28290px;
}


.bg-Arrow136 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28198px;
}


.bg-Arrow137 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28106px;
}


.bg-Arrow138 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -28014px;
}


.bg-Arrow139 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27922px;
}


.bg-Arrow140 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27830px;
}


.bg-Arrow141 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24886px;
}


.bg-Arrow142 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -30406px;
}


.bg-Arrow143 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24702px;
}


.bg-Arrow144 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21632px;
}


.bg-Arrow145 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21542px;
}


.bg-Arrow146 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21452px;
}


.bg-Arrow147 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21362px;
}


.bg-Arrow148 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21272px;
}


.bg-Arrow149 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21182px;
}


.bg-Arrow150 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21092px;
}


.bg-Arrow151 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18498px;
}


.bg-Arrow152 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18586px;
}


.bg-Arrow153 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -14978px;
}


.bg-Arrow154 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15066px;
}


.bg-Arrow155 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15242px;
}


.bg-Arrow156 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -15330px;
}


.bg-Arrow157 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14118px;
}


.bg-Arrow158 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14376px;
}


.bg-Arrow159 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14462px;
}


.bg-Arrow160 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14548px;
}


.bg-Arrow161 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10294px;
}


.bg-Arrow162 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11722px;
}


.bg-Arrow163 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10378px;
}


.bg-Arrow164 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -10128px;
}


.bg-Arrow165 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8324px;
}


.bg-Arrow166 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9964px;
}


.bg-Arrow167 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -8082px;
}


.bg-Arrow168 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -8002px;
}


.bg-Arrow169 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7922px;
}


.bg-Arrow170 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -4918px;
}


.bg-Arrow171 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -4840px;
}


.bg-Arrow172 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -4762px;
}


.bg-Arrow173 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3538px;
}


.bg-Arrow174 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3462px;
}


.bg-Arrow175 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3386px;
}


.bg-Arrow176 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -2182px;
}


.bg-Arrow177 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -2108px;
}


.bg-Arrow178 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -1082px;
}


.bg-Arrow179 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -1010px;
}


.bg-Arrow180 {
    width: 50px; height: 50px;
    background: url('../images/css_sprites.png') -10px -10px;
}


.bg-Arrow181 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -866px;
}


.bg-Arrow182 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -290px;
}


.bg-Arrow183 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -1442px;
}


.bg-Arrow184 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -1960px;
}


.bg-Arrow185 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -4374px;
}


.bg-Arrow186 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -2854px;
}


.bg-Arrow187 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -2778px;
}


.bg-Arrow188 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5464px;
}


.bg-Arrow189 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5386px;
}


.bg-Arrow190 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -6244px;
}


.bg-Arrow191 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7202px;
}


.bg-Arrow192 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7122px;
}


.bg-Arrow193 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7042px;
}


.bg-Arrow194 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9882px;
}


.bg-Arrow195 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9800px;
}


.bg-Arrow196 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9718px;
}


.bg-Arrow197 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11638px;
}


.bg-Arrow198 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11554px;
}


.bg-Arrow199 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11386px;
}


.bg-Arrow200 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12914px;
}


.bg-Arrow201 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13000px;
}


.bg-Arrow202 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13086px;
}


.bg-Arrow203 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13172px;
}


.bg-Arrow204 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16386px;
}


.bg-Arrow205 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16474px;
}


.bg-Arrow206 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16562px;
}


.bg-Arrow207 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16650px;
}


.bg-Arrow208 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16738px;
}


.bg-Arrow209 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16826px;
}


.bg-Arrow210 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20282px;
}


.bg-Arrow211 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20192px;
}


.bg-Arrow212 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20102px;
}


.bg-Arrow213 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -20012px;
}


.bg-Arrow214 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19922px;
}


.bg-Arrow215 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19832px;
}


.bg-Arrow216 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19742px;
}


.bg-Arrow217 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -30314px;
}


.bg-Arrow218 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -30222px;
}


.bg-Arrow219 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -30130px;
}


.bg-Arrow220 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -30038px;
}


.bg-Arrow221 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29946px;
}


.bg-Arrow222 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24242px;
}


.bg-Arrow223 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29854px;
}


.bg-Arrow224 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29762px;
}


.bg-Arrow225 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29670px;
}


.bg-Arrow226 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29486px;
}


.bg-Arrow227 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -29210px;
}


.bg-Arrow228 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25254px;
}


.bg-Arrow229 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25162px;
}


.bg-Arrow230 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25070px;
}


.bg-Arrow231 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24978px;
}


.bg-Arrow232 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24794px;
}


.bg-Arrow233 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -24610px;
}


.bg-Arrow234 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19652px;
}


.bg-Arrow235 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19562px;
}


.bg-Arrow236 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19292px;
}


.bg-Arrow237 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19202px;
}


.bg-Arrow238 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21722px;
}


.bg-Arrow239 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19382px;
}


.bg-Arrow240 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -19472px;
}


.bg-Arrow241 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -19114px;
}


.bg-Arrow242 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -19026px;
}


.bg-Arrow243 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18938px;
}


.bg-Arrow244 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18850px;
}


.bg-Arrow245 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18762px;
}


.bg-Arrow246 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18674px;
}


.bg-Arrow247 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14892px;
}


.bg-Arrow248 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14806px;
}


.bg-Arrow249 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14720px;
}


.bg-Arrow250 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14634px;
}


.bg-Arrow251 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10462px;
}


.bg-Arrow252 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10546px;
}


.bg-Arrow253 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10630px;
}


.bg-Arrow254 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8570px;
}


.bg-Arrow255 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8980px;
}


.bg-Arrow256 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9062px;
}


.bg-Arrow257 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6482px;
}


.bg-Arrow258 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6562px;
}


.bg-Arrow259 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6642px;
}


.bg-Arrow260 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5308px;
}


.bg-Arrow261 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5230px;
}


.bg-Arrow262 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -4684px;
}


.bg-Arrow263 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -2702px;
}


.bg-Arrow264 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -2626px;
}


.bg-Arrow265 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -4146px;
}


.bg-Arrow266 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -1886px;
}


.bg-Arrow267 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -1812px;
}


.bg-Arrow268 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -794px;
}


.bg-Arrow269 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -722px;
}


.bg-Arrow270 {
    width: 50px; height: 50px;
    background: url('../images/css_sprites.png') -10px -150px;
}


.bg-Arrow271 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -578px;
}


.bg-Arrow272 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -506px;
}


.bg-Arrow273 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -1738px;
}


.bg-Arrow274 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -1664px;
}


.bg-Arrow275 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3234px;
}


.bg-Arrow276 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3082px;
}


.bg-Arrow277 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3006px;
}


.bg-Arrow278 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5932px;
}


.bg-Arrow279 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5620px;
}


.bg-Arrow280 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -5542px;
}


.bg-Arrow281 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7522px;
}


.bg-Arrow282 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7602px;
}


.bg-Arrow283 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7682px;
}


.bg-Arrow284 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9226px;
}


.bg-Arrow285 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9308px;
}


.bg-Arrow286 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -9390px;
}


.bg-Arrow287 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11470px;
}


.bg-Arrow288 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11050px;
}


.bg-Arrow289 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -10966px;
}


.bg-Arrow290 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -14032px;
}


.bg-Arrow291 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13946px;
}


.bg-Arrow292 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12226px;
}


.bg-Arrow293 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -13430px;
}


.bg-Arrow294 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -18058px;
}


.bg-Arrow295 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17970px;
}


.bg-Arrow296 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17882px;
}


.bg-Arrow297 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17794px;
}


.bg-Arrow298 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17706px;
}


.bg-Arrow299 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17618px;
}


.bg-Arrow300 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21812px;
}


.bg-Arrow301 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21902px;
}


.bg-Arrow302 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -21992px;
}


.bg-Arrow303 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22082px;
}


.bg-Arrow304 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22172px;
}


.bg-Arrow305 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22262px;
}


.bg-Arrow306 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22352px;
}


.bg-Arrow307 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25622px;
}


.bg-Arrow308 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25714px;
}


.bg-Arrow309 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25806px;
}


.bg-Arrow310 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25898px;
}


.bg-Arrow311 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -25990px;
}


.bg-Arrow312 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26082px;
}


.bg-Arrow313 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26174px;
}


.bg-Arrow314 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26266px;
}


.bg-Arrow315 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26358px;
}


.bg-Arrow316 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26450px;
}


.bg-Arrow317 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26542px;
}


.bg-Arrow318 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26634px;
}


.bg-Arrow319 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26726px;
}


.bg-Arrow320 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26818px;
}


.bg-Arrow321 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -26910px;
}


.bg-Arrow322 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27002px;
}


.bg-Arrow323 {
    width: 72px; height: 72px;
    background: url('../images/css_sprites.png') -10px -27094px;
}


.bg-Arrow324 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22442px;
}


.bg-Arrow325 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22532px;
}


.bg-Arrow326 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22622px;
}


.bg-Arrow327 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22712px;
}


.bg-Arrow328 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22802px;
}


.bg-Arrow329 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22892px;
}


.bg-Arrow330 {
    width: 70px; height: 70px;
    background: url('../images/css_sprites.png') -10px -22982px;
}


.bg-Arrow331 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -17002px;
}


.bg-Arrow332 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16914px;
}


.bg-Arrow333 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16298px;
}


.bg-Arrow334 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16210px;
}


.bg-Arrow335 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16122px;
}


.bg-Arrow336 {
    width: 68px; height: 68px;
    background: url('../images/css_sprites.png') -10px -16034px;
}


.bg-Arrow337 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12828px;
}


.bg-Arrow338 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12742px;
}


.bg-Arrow339 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12656px;
}


.bg-Arrow340 {
    width: 66px; height: 66px;
    background: url('../images/css_sprites.png') -10px -12570px;
}


.bg-Arrow341 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11806px;
}


.bg-Arrow342 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11890px;
}


.bg-Arrow343 {
    width: 64px; height: 64px;
    background: url('../images/css_sprites.png') -10px -11974px;
}


.bg-Arrow344 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8898px;
}


.bg-Arrow345 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8816px;
}


.bg-Arrow346 {
    width: 62px; height: 62px;
    background: url('../images/css_sprites.png') -10px -8734px;
}


.bg-Arrow347 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7442px;
}


.bg-Arrow348 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -7362px;
}


.bg-Arrow349 {
    width: 60px; height: 60px;
    background: url('../images/css_sprites.png') -10px -6322px;
}


.bg-Arrow350 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -4606px;
}


.bg-Arrow351 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -4528px;
}


.bg-Arrow352 {
    width: 58px; height: 58px;
    background: url('../images/css_sprites.png') -10px -4450px;
}


.bg-Arrow353 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -4070px;
}


.bg-Arrow354 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3994px;
}


.bg-Arrow355 {
    width: 56px; height: 56px;
    background: url('../images/css_sprites.png') -10px -3842px;
}


.bg-Arrow356 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -1590px;
}


.bg-Arrow357 {
    width: 54px; height: 54px;
    background: url('../images/css_sprites.png') -10px -2034px;
}


.bg-Arrow358 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -434px;
}


.bg-Arrow359 {
    width: 52px; height: 52px;
    background: url('../images/css_sprites.png') -10px -362px;
}
